<!DOCTYPE html>
<head>
    <title>Lab10</title>
    <link rel="stylesheet" href="/style">
</head>
<html>
    <body>
        <div class="container">
            <h2 class="bookTitle"><%= books.name %></h2>
            <table class="bookContainer">
                <tr>
                    <td class="book">
                        Author:
                        <%= books.author %>
                    </td>
                </tr>
                <tr>
                    <td class="book">
                        <a href="<%= books.link %>">Buy on Amazon!</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>