<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/style">
</head>
<html>
    <body>
        <div class="container">
            <h2>Click on any book to see the details.</h2>
            <table class="bookContainer">
                <% let i = 0 %>
                <% books.forEach(s=>
                { %> 
                    <% i++ %>
                    <tr>
                        <td class="book">
                            <a href="/books/<%= i %>"><%= s.name %></a>
                        </td>
                    </tr>
                <% });
                %>
            </table>
        </div>
    </body>
</html>